SHOPIFY_CLIENT_ID=
SHOPIFY_SECRET=

SHOPIFY_APP_URL=
SCOPES=read_products,write_products,write_cart_transforms,read_metaobjects,write_metaobjects,read_orders,read_themes

DATABASE_URL=
DIRECT_DATABASE_URL=

WEBHOOK_SECRET=your_webhook_secret
