SHOPIFY_CLIENT_ID=
NEXT_PUBLIC_SHOPIFY_CLIENT_ID=
SHOPIFY_SECRET=
SHOPIFY_APP_URL=http://localhost:3000
SCOPES=read_products
SHOPIFY_WEBHOOK_SECRET=

DATABASE_URL=
DIRECT_DATABASE_URL=

MAP_STYLE_URL=https://tiles.openfreemap.org/styles/liberty
GEOCODER_URL=https://nominatim.openstreetmap.org
SESSION_SECRET=
TOKEN_ENCRYPTION_KEY=

APP_ENV=development
RENDER_EXTERNAL_URL=
